
<%
require 'spreadsheet'
%>

<%

if !File.file?("test.xlsx") 


		# Create the rows to be inserted
		row_1 = ['AppName', 'Developer']

		# Create a new Workbook
		new_book = Spreadsheet::Workbook.new

		# Create the worksheet
		new_book.create_worksheet :name => 'test'

		# Add row_1
		new_book.worksheet(0).insert_row(0, row_1)

		# Write the file
		new_book.write('test.xlsx')


%>





<% elsif  File.file?("test.xlsx") %>

        <%
        if  File.file?("test.xlsx")
            @xml_records = []     
            Spreadsheet.client_encoding = 'UTF-8'
   
            book = Spreadsheet.open('test.xlsx') 
            sheet1 = book.worksheet(0)

	            sheet1.each_with_index do |row,index| 
	                if index != 0 
	                     @xml_records << row[0].to_s
	                end 
	            end 
	      end      
        %>
		<br><br><br>
		
		<table>
		
		<% @data1.each do |d| %>   <!-- data loop begins -->
		
			<h2><b><%= d["aria-label"]%></b></h2>
			<br><br>
			
			<%@url1 = "https://play.google.com" + d["href"]%>
			<% @all_apps = Nokogiri::HTML(open(@url1)) %>
			<% @app_urls = @all_apps.css("a.title")%>


          
            <% @app_urls[0..8].each do |a|%>   <!-- loop over urls begins -->
				
				<% @url_app = "https://play.google.com" + a["href"]%>
				<% @app_info = Nokogiri::HTML(open(@url_app)) rescue nil %>
				<% @app = @app_info.css("div.id-app-title").text %>
				<tr><b><%= @app%></b></tr>
				
				<% @dev_link = @app_info.css("a.dev-link") %>
				
				<% @dev_link.each do |dl| %>  <!-- loop over dev links begins -->
					 
					    <% if dl["href"][0..6] == "mailto:" %>
					
							<tr><%= @develop = "  --  " + dl["href"][7..-1] %></tr>
	                       
	                       <br><br><br>
	                        <% @row_2 = [@app,@develop,Time.now.to_s] %>


						<%end%>

		        <%end%>  <!-- loop over dev links ends -->
				
				<% 

				    if !@xml_records.include? @app  #check record exist or not 

				    			# after any exisitng rows with data
		               new_row_index = book.worksheet(0).last_row_index + 1


					    book.worksheet(0).insert_row(new_row_index, @row_2) 

				     end 
				%>
                    
               <% book.write('test.xls') %> <!-- Write out the Workbook again -->
	
	        %> 
		
         <% end %>  <!-- loop over urls ends--> 	
		
			
     <% end %>   <!-- data loop ends -->
		
	</table>


<% end %>   <!-- else if ends -->